@model MK_MVC.ViewModels.ShowPersonViewModel;
@using MK_MVC.Models;
@{
    string l = "";
    ViewData["Title"] = "Language Details";
}



<table class="table">
    <thead>
        <tr>
            
            <th>Person</th>

            <th>  </th>
            <th>     </th>
            <th>         </th>
            
        </tr>
    </thead>
    <tbody>
       
            <tr>
                @foreach (var item in Model?.AllLanguages)
                {

                    <partial name="_Person2" model="item" />
                }
            </tr>
            </tr>
       
    </tbody>

</table>
<br />
<br />