@*@model MK_MVC.ViewModels.PeopleViewModel*@
@*@using MK_MVC.Models*@




<table>
    <div class="row">
        <div class="col">
            @Model.Language.LanguageName
        </div>
        <div class="col">
            @Model.Person.Name
        </div>


    </div>
</table>


