 <!DOCTYPE html>
 <html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link rel="stylesheet" href="~/bootstrap/css/bootstrap.css" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-ajax-unobtrusive/3.2.6/jquery.unobtrusive-ajax.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<header>


		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
  <div class="container">
    <a class="navbar-brand" href="#"> <img src="/mkloggaA40.png" alt="MK Logga"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse d-inline-flex flex-sm-row-reverse" id="navbarNav">
      <ul class="navbar-nav flex-grow-1">
          <li class="nav-item">
        <a class="nav-item nav-link px-6" asp-controller="Home" asp-action="Index">Home</a>
         </li> 
        <li class="nav-item">
          <a class="nav-item nav-link px-6" asp-controller="Contact" asp-action="Contact">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link px-6" asp-controller="About" asp-action="About">About</a>
        </li>
        <li class="nav-item">
         <a class="nav-item nav-link px-6" asp-controller="Projects" asp-action="Projects">Projects</a>
          <li class="nav-item">
         <a class="nav-item nav-link px-6" asp-controller="Person" asp-action="Index">Person</a>
        </li>
         <li class="nav-item">
         <a class="nav-item nav-link px-6" asp-controller="Ajax" asp-action="Index">Ajax</a>
        </li>
         <li class="nav-item">
         <a class="nav-item nav-link px-6" asp-controller="Country" asp-action="Index">Country</a>
        </li>
         <li class="nav-item">
         <a class="nav-item nav-link px-6" asp-controller="City" asp-action="Index">City</a>
        </li>
        <li class="nav-item">
         <a class="nav-item nav-link px-6" asp-controller="Language" asp-action="Index">Language</a>
        </li>
         <li class="nav-item">
         <a class="nav-item nav-link px-6" asp-controller="PersonLanguage" asp-action="Create">PersonLanguage</a>
        </li>
       
      </ul>
    </div>
  </div>
</nav>

<!--//Här är brytet-->
	
	</header>
	<div class="content">
		
		@RenderBody()

		<footer>@DateTime.Now.ToString("dddd, dd MMMM yyyy") &copy; @ViewBag.Name  </footer>
	</div>


</body>

 </html>
