

<h2>People Table</h2>

<table class="table">
    <thead>
        <tr><th>  </th>
            <th>PersonID</th>
            <th>Name</th>
            <th>Phone</th>
            <th>City</th>
   </tr>
    </thead>
    <tr>
    @foreach (var item in Model?.AllPeople)
        {
            <partial name="_Person2" model="item" />
        }
     </tr>
</table>
