@{
    ViewData["Title"] = "Projects";
}
<body>
<h1>Projects</h1>
<p> </p><p> </p>
<h3><a href="https://github.com/kvastfeningen/Calc2" target="_blank">Calc</a></h3>
<p>A simple calculator for console in C#</p><p> </p>

<h3><a href="https://github.com/kvastfeningen/HangMan" target="_blank">HangMan</a></h3>
<p>A traditional Hangman game for console, C#</p><p> </p>

<h3><a href="https://github.com/kvastfeningen/Homepage1" target="_blank">Homepage1</a></h3>
<p>A homepage assignment to show use of HTML and CSS </p><p> </p>
<h3><a href="https://github.com/kvastfeningen/TheVendingMachine" target="_blank">TheVendingMachine</a></h3>
<p>A Vending Machine assignment in C# </p><p> </p>
</body>