@model Country;

@{
    ViewData["Title"] = "Add Country";
}

<form asp-controller="Country" asp-action="Create">
    <div class="form-group">
        <label asp-for="CountryName"></label><br>
    <input asp-for="CountryName" />
    </div><br><br>
    <input type="submit" value="Add Country" />
</form>
<br>
<br>