@*@model MK_MVC.ViewModels.PeopleViewModel;
using MK_MVC.Models*@
@model IEnumerable<Language>
@{
    string l = "";
    ViewData["Title"] = "Index";
}

<a asp-action="Create">Add Language</a>
<br />
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <!--<th>City Id</th>-->
            <th>Language</th>
            <th>People</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            l = "";
            <tr>
                <td>@item.LanguageName</td>
                <td>
                    @foreach (var pers in item.PersonLanguages)
                    {
                        l = l + pers.PersonId + " | ";
                    }
                    @l
                </td>
                
                <td>  </td>
            </tr>
        }
    </tbody>
</table>