@model City;

@{
    ViewData["Title"] = "Add Country";
}

<form asp-controller="City" asp-action="Create">
    <div class="form-group">
    <label asp-for="CityName"></label><br>
    <input asp-for="CityName" /><br>
    </div>
    <div class="form-group">
    <select name="countryid" asp-items="ViewBag.Countries"></select>

    </div>
    <input type="submit" value="Add  City" /><br>
</form>
