@*@model MK_MVC.ViewModels.PeopleViewModel;
@using MK_MVC.Models*@
@model IEnumerable<City>

@{
    string personer = "";
    ViewData["Title"] = "Index";
}

<a asp-action="Create">Add City</a>
<br />
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <!--<th>City Id</th>-->
            <th>City</th>
            <th>People</th>
            <th>Country</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            personer = "";
            <tr>

                <td>@item.CityName</td>
                <td>
                    @foreach (var pers in item.People)
                    {
                        personer = personer + pers.Name + ",  ";
                    }
                    @personer
                </td>
                <td>@item.Country.CountryName</td>
                <td> </td>
            </tr>
          
        }
    </tbody>
</table>